SadTalker-main/.gitignore
SadTalker-main/app_sadtalker.py
SadTalker-main/cog.yaml
SadTalker-main/inference.py
SadTalker-main/launcher.py
SadTalker-main/LICENSE
SadTalker-main/patched_fastapi.py
SadTalker-main/predict.py
SadTalker-main/progress.txt
SadTalker-main/quick_demo.ipynb
SadTalker-main/README.md
SadTalker-main/req.txt
SadTalker-main/requirements.txt
SadTalker-main/requirements3d.txt
SadTalker-main/status.txt
SadTalker-main/test_gardio.py
SadTalker-main/test_gradio.py
SadTalker-main/webui.bat
SadTalker-main/webui.sh
SadTalker-main/.gradio/certificate.pem
SadTalker-main/.gradio/flagged/dataset1.csv
SadTalker-main/docs/best_practice.md
SadTalker-main/docs/changlelog.md
SadTalker-main/docs/example_crop_still.gif
SadTalker-main/docs/example_crop.gif
SadTalker-main/docs/example_full_crop.gif
SadTalker-main/docs/example_full_enhanced.gif
SadTalker-main/docs/example_full.gif
SadTalker-main/docs/face3d.md
SadTalker-main/docs/FAQ.md
SadTalker-main/docs/free_view_result.gif
SadTalker-main/docs/install.md
SadTalker-main/docs/resize_good.gif
SadTalker-main/docs/resize_no.gif
SadTalker-main/docs/sadtalker_logo.png
SadTalker-main/docs/using_ref_video.gif
SadTalker-main/docs/webui_extension.md
SadTalker-main/examples/driven_audio/bus_chinese.wav
SadTalker-main/examples/driven_audio/chinese_news.wav
SadTalker-main/examples/driven_audio/chinese_poem1.wav
SadTalker-main/examples/driven_audio/chinese_poem2.wav
SadTalker-main/examples/driven_audio/deyu.wav
SadTalker-main/examples/driven_audio/eluosi.wav
SadTalker-main/examples/driven_audio/example.wav
SadTalker-main/examples/driven_audio/fayu.wav
SadTalker-main/examples/driven_audio/imagine.wav
SadTalker-main/examples/driven_audio/itosinger1.wav
SadTalker-main/examples/driven_audio/japanese.wav
SadTalker-main/examples/driven_audio/RD_Radio31_000.wav
SadTalker-main/examples/driven_audio/RD_Radio34_002.wav
SadTalker-main/examples/driven_audio/RD_Radio36_000.wav
SadTalker-main/examples/driven_audio/RD_Radio40_000.wav
SadTalker-main/examples/ref_video/WDA_AlexandriaOcasioCortez_000.mp4
SadTalker-main/examples/ref_video/WDA_KatieHill_000.mp4
SadTalker-main/examples/source_image/art_0.png
SadTalker-main/examples/source_image/art_1.png
SadTalker-main/examples/source_image/art_2.png
SadTalker-main/examples/source_image/art_3.png
SadTalker-main/examples/source_image/art_4.png
SadTalker-main/examples/source_image/art_5.png
SadTalker-main/examples/source_image/art_6.png
SadTalker-main/examples/source_image/art_7.png
SadTalker-main/examples/source_image/art_8.png
SadTalker-main/examples/source_image/art_9.png
SadTalker-main/examples/source_image/art_10.png
SadTalker-main/examples/source_image/art_11.png
SadTalker-main/examples/source_image/art_12.png
SadTalker-main/examples/source_image/art_13.png
SadTalker-main/examples/source_image/art_14.png
SadTalker-main/examples/source_image/art_15.png
SadTalker-main/examples/source_image/art_16.png
SadTalker-main/examples/source_image/art_17.png
SadTalker-main/examples/source_image/art_18.png
SadTalker-main/examples/source_image/art_19.png
SadTalker-main/examples/source_image/art_20.png
SadTalker-main/examples/source_image/example_landmarks.txt
SadTalker-main/examples/source_image/example.jpg
SadTalker-main/examples/source_image/full_body_1.png
SadTalker-main/examples/source_image/full_body_2.png
SadTalker-main/examples/source_image/full3.png
SadTalker-main/examples/source_image/full4.jpeg
SadTalker-main/examples/source_image/happy.png
SadTalker-main/examples/source_image/happy1.png
SadTalker-main/examples/source_image/people_0.png
SadTalker-main/examples/source_image/sad.png
SadTalker-main/examples/source_image/sad1.png
SadTalker-main/scripts/download_models.sh
SadTalker-main/scripts/extension.py
SadTalker-main/scripts/test.sh
SadTalker-main/src/generate_batch.py
SadTalker-main/src/generate_facerender_batch.py
SadTalker-main/src/gradio_demo.py
SadTalker-main/src/test_audio2coeff.py
SadTalker-main/src/audio2exp_models/audio2exp.py
SadTalker-main/src/audio2exp_models/networks.py
SadTalker-main/src/audio2pose_models/audio_encoder.py
SadTalker-main/src/audio2pose_models/audio2pose.py
SadTalker-main/src/audio2pose_models/cvae.py
SadTalker-main/src/audio2pose_models/discriminator.py
SadTalker-main/src/audio2pose_models/networks.py
SadTalker-main/src/audio2pose_models/res_unet.py
SadTalker-main/src/config/audio2exp.yaml
SadTalker-main/src/config/audio2pose.yaml
SadTalker-main/src/config/auido2exp.yaml
SadTalker-main/src/config/auido2pose.yaml
SadTalker-main/src/config/facerender_still.yaml
SadTalker-main/src/config/facerender.yaml
SadTalker-main/src/config/similarity_Lm3D_all.mat
SadTalker-main/src/face3d/extract_kp_videos_safe.py
SadTalker-main/src/face3d/extract_kp_videos.py
SadTalker-main/src/face3d/visualize.py
SadTalker-main/src/face3d/data/__init__.py
SadTalker-main/src/face3d/data/base_dataset.py
SadTalker-main/src/face3d/data/flist_dataset.py
SadTalker-main/src/face3d/data/image_folder.py
SadTalker-main/src/face3d/data/template_dataset.py
SadTalker-main/src/face3d/models/__init__.py
SadTalker-main/src/face3d/models/base_model.py
SadTalker-main/src/face3d/models/bfm.py
SadTalker-main/src/face3d/models/facerecon_model.py
SadTalker-main/src/face3d/models/losses.py
SadTalker-main/src/face3d/models/networks.py
SadTalker-main/src/face3d/models/template_model.py
SadTalker-main/src/face3d/models/arcface_torch/dataset.py
SadTalker-main/src/face3d/models/arcface_torch/eval_ijbc.py
SadTalker-main/src/face3d/models/arcface_torch/inference.py
SadTalker-main/src/face3d/models/arcface_torch/losses.py
SadTalker-main/src/face3d/models/arcface_torch/onnx_helper.py
SadTalker-main/src/face3d/models/arcface_torch/onnx_ijbc.py
SadTalker-main/src/face3d/models/arcface_torch/partial_fc.py
SadTalker-main/src/face3d/models/arcface_torch/README.md
SadTalker-main/src/face3d/models/arcface_torch/requirement.txt
SadTalker-main/src/face3d/models/arcface_torch/run.sh
SadTalker-main/src/face3d/models/arcface_torch/torch2onnx.py
SadTalker-main/src/face3d/models/arcface_torch/train.py
SadTalker-main/src/face3d/models/arcface_torch/backbones/__init__.py
SadTalker-main/src/face3d/models/arcface_torch/backbones/iresnet.py
SadTalker-main/src/face3d/models/arcface_torch/backbones/iresnet2060.py
SadTalker-main/src/face3d/models/arcface_torch/backbones/mobilefacenet.py
SadTalker-main/src/face3d/models/arcface_torch/configs/__init__.py
SadTalker-main/src/face3d/models/arcface_torch/configs/3millions_pfc.py
SadTalker-main/src/face3d/models/arcface_torch/configs/3millions.py
SadTalker-main/src/face3d/models/arcface_torch/configs/base.py
SadTalker-main/src/face3d/models/arcface_torch/configs/glint360k_mbf.py
SadTalker-main/src/face3d/models/arcface_torch/configs/glint360k_r18.py
SadTalker-main/src/face3d/models/arcface_torch/configs/glint360k_r34.py
SadTalker-main/src/face3d/models/arcface_torch/configs/glint360k_r50.py
SadTalker-main/src/face3d/models/arcface_torch/configs/glint360k_r100.py
SadTalker-main/src/face3d/models/arcface_torch/configs/ms1mv3_mbf.py
SadTalker-main/src/face3d/models/arcface_torch/configs/ms1mv3_r18.py
SadTalker-main/src/face3d/models/arcface_torch/configs/ms1mv3_r34.py
SadTalker-main/src/face3d/models/arcface_torch/configs/ms1mv3_r50.py
SadTalker-main/src/face3d/models/arcface_torch/configs/ms1mv3_r2060.py
SadTalker-main/src/face3d/models/arcface_torch/configs/speed.py
SadTalker-main/src/face3d/models/arcface_torch/docs/eval.md
SadTalker-main/src/face3d/models/arcface_torch/docs/install.md
SadTalker-main/src/face3d/models/arcface_torch/docs/modelzoo.md
SadTalker-main/src/face3d/models/arcface_torch/docs/speed_benchmark.md
SadTalker-main/src/face3d/models/arcface_torch/eval/__init__.py
SadTalker-main/src/face3d/models/arcface_torch/eval/verification.py
SadTalker-main/src/face3d/models/arcface_torch/utils/__init__.py
SadTalker-main/src/face3d/models/arcface_torch/utils/plot.py
SadTalker-main/src/face3d/models/arcface_torch/utils/utils_amp.py
SadTalker-main/src/face3d/models/arcface_torch/utils/utils_callbacks.py
SadTalker-main/src/face3d/models/arcface_torch/utils/utils_config.py
SadTalker-main/src/face3d/models/arcface_torch/utils/utils_logging.py
SadTalker-main/src/face3d/models/arcface_torch/utils/utils_os.py
SadTalker-main/src/face3d/options/__init__.py
SadTalker-main/src/face3d/options/base_options.py
SadTalker-main/src/face3d/options/inference_options.py
SadTalker-main/src/face3d/options/test_options.py
SadTalker-main/src/face3d/options/train_options.py
SadTalker-main/src/face3d/util/__init__.py
SadTalker-main/src/face3d/util/BBRegressorParam_r.mat
SadTalker-main/src/face3d/util/detect_lm68.py
SadTalker-main/src/face3d/util/generate_list.py
SadTalker-main/src/face3d/util/html.py
SadTalker-main/src/face3d/util/load_mats.py
SadTalker-main/src/face3d/util/my_awing_arch.py
SadTalker-main/src/face3d/util/nvdiffrast.py
SadTalker-main/src/face3d/util/preprocess.py
SadTalker-main/src/face3d/util/skin_mask.py
SadTalker-main/src/face3d/util/test_mean_face.txt
SadTalker-main/src/face3d/util/util.py
SadTalker-main/src/face3d/util/visualizer.py
SadTalker-main/src/facerender/animate.py
SadTalker-main/src/facerender/modules/dense_motion.py
SadTalker-main/src/facerender/modules/discriminator.py
SadTalker-main/src/facerender/modules/generator.py
SadTalker-main/src/facerender/modules/keypoint_detector.py
SadTalker-main/src/facerender/modules/make_animation.py
SadTalker-main/src/facerender/modules/mapping.py
SadTalker-main/src/facerender/modules/util.py
SadTalker-main/src/facerender/sync_batchnorm/__init__.py
SadTalker-main/src/facerender/sync_batchnorm/batchnorm.py
SadTalker-main/src/facerender/sync_batchnorm/comm.py
SadTalker-main/src/facerender/sync_batchnorm/replicate.py
SadTalker-main/src/facerender/sync_batchnorm/unittest.py
SadTalker-main/src/utils/audio.py
SadTalker-main/src/utils/croper.py
SadTalker-main/src/utils/face_enhancer.py
SadTalker-main/src/utils/hparams.py
SadTalker-main/src/utils/init_path.py
SadTalker-main/src/utils/model2safetensor.py
SadTalker-main/src/utils/paste_pic.py
SadTalker-main/src/utils/preprocess.py
SadTalker-main/src/utils/safetensor_helper.py
SadTalker-main/src/utils/text2speech.py
SadTalker-main/src/utils/videoio.py
SadTalker-main/test_videos/sample.mp4
SadTalker-main/uploads/temp_voice_20250326184801470050.wav
SadTalker-main/uploads/temp_voice_20250326185051401051.wav
gfpgan/weights/alignment_WFLW_4HG.pth
gfpgan/weights/detection_Resnet50_Final.pth
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/__init__.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/boundary.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/chatbot.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/controller.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/entity.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/__init__.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/boundary.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/chatbot.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/controller.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/entity.cpython-312.pyc
results/08055c8b-f905-4a1b-bd21-522cc17c9dc3/avatar_291118c4dd9e42528182f58082fb009e##audio_df55ca43560042b3a868c529d449275e.mat
results/08055c8b-f905-4a1b-bd21-522cc17c9dc3/avatar_291118c4dd9e42528182f58082fb009e##audio_df55ca43560042b3a868c529d449275e.txt
results/08055c8b-f905-4a1b-bd21-522cc17c9dc3/first_frame_dir/avatar_291118c4dd9e42528182f58082fb009e_landmarks.txt
results/08055c8b-f905-4a1b-bd21-522cc17c9dc3/first_frame_dir/avatar_291118c4dd9e42528182f58082fb009e.mat
results/08055c8b-f905-4a1b-bd21-522cc17c9dc3/first_frame_dir/avatar_291118c4dd9e42528182f58082fb009e.png
results/08055c8b-f905-4a1b-bd21-522cc17c9dc3/input/audio_df55ca43560042b3a868c529d449275e.wav
results/08055c8b-f905-4a1b-bd21-522cc17c9dc3/input/avatar_291118c4dd9e42528182f58082fb009e.png
results/169170f6-67e8-4592-bfd7-cb0881db1de2/avatar_6bae80877ee046babda5f43cf13b9f21##audio_ed0bbeb15a7740b59fd0478908ab4b60.mat
results/169170f6-67e8-4592-bfd7-cb0881db1de2/avatar_6bae80877ee046babda5f43cf13b9f21##audio_ed0bbeb15a7740b59fd0478908ab4b60.txt
results/169170f6-67e8-4592-bfd7-cb0881db1de2/first_frame_dir/avatar_6bae80877ee046babda5f43cf13b9f21_landmarks.txt
results/169170f6-67e8-4592-bfd7-cb0881db1de2/first_frame_dir/avatar_6bae80877ee046babda5f43cf13b9f21.mat
results/169170f6-67e8-4592-bfd7-cb0881db1de2/first_frame_dir/avatar_6bae80877ee046babda5f43cf13b9f21.png
results/169170f6-67e8-4592-bfd7-cb0881db1de2/input/audio_ed0bbeb15a7740b59fd0478908ab4b60.wav
results/169170f6-67e8-4592-bfd7-cb0881db1de2/input/avatar_6bae80877ee046babda5f43cf13b9f21.png
results/225ea16a-be07-4dd4-a6ee-09f261b6bd46/avatar_30b421b5546e43c399850f5870762942##audio_c714683b4d514b7a9101fc116ece8394.mat
results/225ea16a-be07-4dd4-a6ee-09f261b6bd46/avatar_30b421b5546e43c399850f5870762942##audio_c714683b4d514b7a9101fc116ece8394.txt
results/225ea16a-be07-4dd4-a6ee-09f261b6bd46/first_frame_dir/avatar_30b421b5546e43c399850f5870762942_landmarks.txt
results/225ea16a-be07-4dd4-a6ee-09f261b6bd46/first_frame_dir/avatar_30b421b5546e43c399850f5870762942.mat
results/225ea16a-be07-4dd4-a6ee-09f261b6bd46/first_frame_dir/avatar_30b421b5546e43c399850f5870762942.png
results/225ea16a-be07-4dd4-a6ee-09f261b6bd46/input/audio_c714683b4d514b7a9101fc116ece8394.wav
results/225ea16a-be07-4dd4-a6ee-09f261b6bd46/input/avatar_30b421b5546e43c399850f5870762942.png
results/6d6cffd6-d6b1-498a-b471-db2d897d4f7b/avatar_7ed073d4cedf49af9f5d5bd8c3640a45##audio_9ab02a649ccf48d99278eaf097a04a65.mat
results/6d6cffd6-d6b1-498a-b471-db2d897d4f7b/avatar_7ed073d4cedf49af9f5d5bd8c3640a45##audio_9ab02a649ccf48d99278eaf097a04a65.txt
results/6d6cffd6-d6b1-498a-b471-db2d897d4f7b/first_frame_dir/avatar_7ed073d4cedf49af9f5d5bd8c3640a45_landmarks.txt
results/6d6cffd6-d6b1-498a-b471-db2d897d4f7b/first_frame_dir/avatar_7ed073d4cedf49af9f5d5bd8c3640a45.mat
results/6d6cffd6-d6b1-498a-b471-db2d897d4f7b/first_frame_dir/avatar_7ed073d4cedf49af9f5d5bd8c3640a45.png
results/6d6cffd6-d6b1-498a-b471-db2d897d4f7b/input/audio_9ab02a649ccf48d99278eaf097a04a65.wav
results/6d6cffd6-d6b1-498a-b471-db2d897d4f7b/input/avatar_7ed073d4cedf49af9f5d5bd8c3640a45.png
results/729becc8-1840-4f43-96bf-a650943d1fdd/avatar_dd8d2d3c27e9424d9465f37bcd1e979c##audio_5dc603bd5b0b4f7e9617a01919ee7c23.mat
results/729becc8-1840-4f43-96bf-a650943d1fdd/avatar_dd8d2d3c27e9424d9465f37bcd1e979c##audio_5dc603bd5b0b4f7e9617a01919ee7c23.txt
results/729becc8-1840-4f43-96bf-a650943d1fdd/first_frame_dir/avatar_dd8d2d3c27e9424d9465f37bcd1e979c_landmarks.txt
results/729becc8-1840-4f43-96bf-a650943d1fdd/first_frame_dir/avatar_dd8d2d3c27e9424d9465f37bcd1e979c.mat
results/729becc8-1840-4f43-96bf-a650943d1fdd/first_frame_dir/avatar_dd8d2d3c27e9424d9465f37bcd1e979c.png
results/729becc8-1840-4f43-96bf-a650943d1fdd/input/audio_5dc603bd5b0b4f7e9617a01919ee7c23.wav
results/729becc8-1840-4f43-96bf-a650943d1fdd/input/avatar_dd8d2d3c27e9424d9465f37bcd1e979c.png
results/9d76449e-d5f7-481d-a3c9-376f3b11c010/avatar_ed8fd7cab6214c0c8afc861a79e3425d##audio_adb7a04349d64490a7244247b0d8e34b.mat
results/9d76449e-d5f7-481d-a3c9-376f3b11c010/avatar_ed8fd7cab6214c0c8afc861a79e3425d##audio_adb7a04349d64490a7244247b0d8e34b.txt
results/9d76449e-d5f7-481d-a3c9-376f3b11c010/first_frame_dir/avatar_ed8fd7cab6214c0c8afc861a79e3425d_landmarks.txt
results/9d76449e-d5f7-481d-a3c9-376f3b11c010/first_frame_dir/avatar_ed8fd7cab6214c0c8afc861a79e3425d.mat
results/9d76449e-d5f7-481d-a3c9-376f3b11c010/first_frame_dir/avatar_ed8fd7cab6214c0c8afc861a79e3425d.png
results/9d76449e-d5f7-481d-a3c9-376f3b11c010/input/audio_adb7a04349d64490a7244247b0d8e34b.wav
results/9d76449e-d5f7-481d-a3c9-376f3b11c010/input/avatar_ed8fd7cab6214c0c8afc861a79e3425d.png
results/bac760bb-1c7a-41d2-96cf-337f4141efd2/avatar_a3092a5485ad432f84fbd9e7d4124bd1##audio_94dfac2de0944ea8b05df98e9e8a2296.mat
results/bac760bb-1c7a-41d2-96cf-337f4141efd2/avatar_a3092a5485ad432f84fbd9e7d4124bd1##audio_94dfac2de0944ea8b05df98e9e8a2296.txt
results/bac760bb-1c7a-41d2-96cf-337f4141efd2/first_frame_dir/avatar_a3092a5485ad432f84fbd9e7d4124bd1_landmarks.txt
results/bac760bb-1c7a-41d2-96cf-337f4141efd2/first_frame_dir/avatar_a3092a5485ad432f84fbd9e7d4124bd1.mat
results/bac760bb-1c7a-41d2-96cf-337f4141efd2/first_frame_dir/avatar_a3092a5485ad432f84fbd9e7d4124bd1.png
results/bac760bb-1c7a-41d2-96cf-337f4141efd2/input/audio_94dfac2de0944ea8b05df98e9e8a2296.wav
results/bac760bb-1c7a-41d2-96cf-337f4141efd2/input/avatar_a3092a5485ad432f84fbd9e7d4124bd1.png
results/fb0b4b93-361b-466c-8d67-e9263a22ca23/avatar_a48e923519ce4e50b8edade526bd6f0b##audio_f0a93ee39f384134ab737fb1a60315d6.mat
results/fb0b4b93-361b-466c-8d67-e9263a22ca23/avatar_a48e923519ce4e50b8edade526bd6f0b##audio_f0a93ee39f384134ab737fb1a60315d6.txt
results/fb0b4b93-361b-466c-8d67-e9263a22ca23/first_frame_dir/avatar_a48e923519ce4e50b8edade526bd6f0b_landmarks.txt
results/fb0b4b93-361b-466c-8d67-e9263a22ca23/first_frame_dir/avatar_a48e923519ce4e50b8edade526bd6f0b.mat
results/fb0b4b93-361b-466c-8d67-e9263a22ca23/first_frame_dir/avatar_a48e923519ce4e50b8edade526bd6f0b.png
results/fb0b4b93-361b-466c-8d67-e9263a22ca23/input/audio_f0a93ee39f384134ab737fb1a60315d6.wav
results/fb0b4b93-361b-466c-8d67-e9263a22ca23/input/avatar_a48e923519ce4e50b8edade526bd6f0b.png
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/__init__.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/boundary.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/chatbot.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/controller.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/entity.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/__init__.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/boundary.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/chatbot.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/controller.cpython-312.pyc
FYP-25-S1-09 Mongodb Voice Generate/FYP25S109/__pycache__/entity.cpython-312.pyc
results/00828a17-a3d7-42b0-9a27-6a9fa8c8fa24/avatar_ce7e4cce07dc42a4aa0e3d9dfbf14415##audio_c9c9203ddec648c0ae1964a8c581565e.mat
results/00828a17-a3d7-42b0-9a27-6a9fa8c8fa24/avatar_ce7e4cce07dc42a4aa0e3d9dfbf14415##audio_c9c9203ddec648c0ae1964a8c581565e.txt
results/00828a17-a3d7-42b0-9a27-6a9fa8c8fa24/first_frame_dir/avatar_ce7e4cce07dc42a4aa0e3d9dfbf14415_landmarks.txt
results/00828a17-a3d7-42b0-9a27-6a9fa8c8fa24/first_frame_dir/avatar_ce7e4cce07dc42a4aa0e3d9dfbf14415.mat
results/00828a17-a3d7-42b0-9a27-6a9fa8c8fa24/first_frame_dir/avatar_ce7e4cce07dc42a4aa0e3d9dfbf14415.png
results/00828a17-a3d7-42b0-9a27-6a9fa8c8fa24/input/audio_c9c9203ddec648c0ae1964a8c581565e.wav
results/00828a17-a3d7-42b0-9a27-6a9fa8c8fa24/input/avatar_ce7e4cce07dc42a4aa0e3d9dfbf14415.png
results/9436d462-fa6e-4f9d-90fc-f4b24baf1e9e/avatar_c3a028bfd3eb4b4295db34069fbfaa6e##audio_2e21d69bd4d94686ace51469163aeae2.mat
results/9436d462-fa6e-4f9d-90fc-f4b24baf1e9e/avatar_c3a028bfd3eb4b4295db34069fbfaa6e##audio_2e21d69bd4d94686ace51469163aeae2.txt
results/9436d462-fa6e-4f9d-90fc-f4b24baf1e9e/first_frame_dir/avatar_c3a028bfd3eb4b4295db34069fbfaa6e_landmarks.txt
results/9436d462-fa6e-4f9d-90fc-f4b24baf1e9e/first_frame_dir/avatar_c3a028bfd3eb4b4295db34069fbfaa6e.mat
results/9436d462-fa6e-4f9d-90fc-f4b24baf1e9e/first_frame_dir/avatar_c3a028bfd3eb4b4295db34069fbfaa6e.png
results/9436d462-fa6e-4f9d-90fc-f4b24baf1e9e/input/audio_2e21d69bd4d94686ace51469163aeae2.wav
results/9436d462-fa6e-4f9d-90fc-f4b24baf1e9e/input/avatar_c3a028bfd3eb4b4295db34069fbfaa6e.png
results/c94c6150-25c6-4cf9-a767-1cb0d785c14a/avatar_6d622782f6a94e12962abdffa584b08f##audio_1b7b678f4b6149708cdbfb7afb3b64b4.mat
results/c94c6150-25c6-4cf9-a767-1cb0d785c14a/avatar_6d622782f6a94e12962abdffa584b08f##audio_1b7b678f4b6149708cdbfb7afb3b64b4.txt
results/c94c6150-25c6-4cf9-a767-1cb0d785c14a/first_frame_dir/avatar_6d622782f6a94e12962abdffa584b08f_landmarks.txt
results/c94c6150-25c6-4cf9-a767-1cb0d785c14a/first_frame_dir/avatar_6d622782f6a94e12962abdffa584b08f.mat
results/c94c6150-25c6-4cf9-a767-1cb0d785c14a/first_frame_dir/avatar_6d622782f6a94e12962abdffa584b08f.png
results/c94c6150-25c6-4cf9-a767-1cb0d785c14a/input/audio_1b7b678f4b6149708cdbfb7afb3b64b4.wav
results/c94c6150-25c6-4cf9-a767-1cb0d785c14a/input/avatar_6d622782f6a94e12962abdffa584b08f.png
