{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center">Choose Your Avatar Assistant</h2>
  <div class="row">
    {% for avatar in avatars %}
      <div class="col-md-3 text-center">
        <div class="card mb-4">
          <img src="data:image/png;base64,{{ avatar.image_data }}" class="card-img-top" alt="{{ avatar.avatarname }}">
          <div class="card-body">
            <h5 class="card-title">{{ avatar.avatarname }}</h5>
            {% if avatar.username == user_info.username %}
              <span class="badge bg-info">Your Avatart Assistants</span>
            {% else %}
              <span class="badge bg-secondary">Our Avatar Assistants</span>
            {% endif %}
            {% if avatar.video_id %}
              <video class="w-100 mt-2" controls>
                <source src="{{ url_for('boundary.stream_video', video_id=avatar.video_id) }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% endif %}
            <form method="POST" class="mt-2">
              <input type="hidden" name="avatar_id" value="{{ avatar._id }}">
              <button type="submit" class="btn btn-primary btn-sm">Select</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
