{% extends "base.html" %}

{% block title %}Forget Password{% endblock %}

{% block content %}
<div class="formContainer">
    <h1>Forget Password</h1>
    <form class="forms" action="{{ url_for('boundary.reset_password') }}" method="POST">
        <div class="mb-3">
            <label for="username" class="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <br/>
        <div class="mb-3">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
        </div>
        <br/>
        <div class="mb-3">
            <label for="new_password">New password</label>
            <input type="password" id="new_password" name="new_password" class="form-control" required>
        </div>
        <div class="centerContainer">
            <button type="submit">Reset</button>
        </div>
    </form>
</div>
{% endblock %}